node_modules/ansi-colors/index.js
node_modules/ansi-colors/LICENSE
node_modules/ansi-colors/package.json
node_modules/ansi-colors/README.md
node_modules/ansi-colors/symbols.js
node_modules/ansi-colors/types/index.d.ts
node_modules/enquirer/CHANGELOG.md
node_modules/enquirer/index.d.ts
node_modules/enquirer/index.js
node_modules/enquirer/LICENSE
node_modules/enquirer/package.json
node_modules/enquirer/README.md
node_modules/enquirer/lib/ansi.js
node_modules/enquirer/lib/combos.js
node_modules/enquirer/lib/completer.js
node_modules/enquirer/lib/interpolate.js
node_modules/enquirer/lib/keypress.js
node_modules/enquirer/lib/placeholder.js
node_modules/enquirer/lib/prompt.js
node_modules/enquirer/lib/render.js
node_modules/enquirer/lib/roles.js
node_modules/enquirer/lib/state.js
node_modules/enquirer/lib/styles.js
node_modules/enquirer/lib/symbols.js
node_modules/enquirer/lib/theme.js
node_modules/enquirer/lib/timer.js
node_modules/enquirer/lib/utils.js
node_modules/enquirer/lib/prompts/autocomplete.js
node_modules/enquirer/lib/prompts/basicauth.js
node_modules/enquirer/lib/prompts/confirm.js
node_modules/enquirer/lib/prompts/editable.js
node_modules/enquirer/lib/prompts/form.js
node_modules/enquirer/lib/prompts/index.js
node_modules/enquirer/lib/prompts/input.js
node_modules/enquirer/lib/prompts/invisible.js
node_modules/enquirer/lib/prompts/list.js
node_modules/enquirer/lib/prompts/multiselect.js
node_modules/enquirer/lib/prompts/numeral.js
node_modules/enquirer/lib/prompts/password.js
node_modules/enquirer/lib/prompts/quiz.js
node_modules/enquirer/lib/prompts/scale.js
node_modules/enquirer/lib/prompts/select.js
node_modules/enquirer/lib/prompts/snippet.js
node_modules/enquirer/lib/prompts/sort.js
node_modules/enquirer/lib/prompts/survey.js
node_modules/enquirer/lib/prompts/text.js
node_modules/enquirer/lib/prompts/toggle.js
node_modules/enquirer/lib/types/array.js
node_modules/enquirer/lib/types/auth.js
node_modules/enquirer/lib/types/boolean.js
node_modules/enquirer/lib/types/index.js
node_modules/enquirer/lib/types/number.js
node_modules/enquirer/lib/types/string.js
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*